:root {
    --header-bg: #fff;
    --dark-gray: rgb(71,74,91);
    --light-gray: #D1D1D1;
    --hover-red: #C11F25;
}

*{
    margin:0;
    padding:0;
}
body{
    font-family:Madawaska, serif;
    font-weight: 400;
    color:var(--dark-gray, #474a5b, black);
}

/* heading and nav bar */

header > h1{
    font-family:bio-sans, sans-serif;
    font-weight: 700;
    font-size:300%;
    float:left;
    padding: 0 0 0 30px;
    text-transform: uppercase;    
    color: var(--dark-gray, #474a5b, black);
}
nav li{
    list-style: none;
    float:right;
    font-size:100%;
    font-family:bio-sans, sans-serif;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    padding-left:15px;
    letter-spacing: 5px;
    color:var(--dark-gray, black);
}
nav a:hover{
    color:var(--hover-red, red);
}
nav{
    padding-right:15px;
}
header{
    background-color: var(--header-bg,white);
}
#header, #menu{
    line-height: 75px;
}

/* about section */

#about{
    clear:both;
    background-color: var(--dark-gray,black);
    height: 400px;
    margin: 10% 10% 0 10%;
 
    
}
#about-text{
    float:left;
    width:40%;
    text-align: center;
    padding:10%;

}
#about h2{
    font-family:bio-sans, sans-serif;
    font-size:200%;
    font-weight:900;
    color:var(--header-bg, white);
    padding-bottom: 3%;
}
#about p{
    color:var(--light-gray,gray);
}
#about-image-container{
    float:right;
    width:40%;
}
#about-image{
    height: 400px;
}
#about-image > img{
    max-height: 100%;
}

/* Work Section */
#work{
    clear: both;
    text-align: center;
    margin:5% 10% 0 10%;
}
#work >h2 {
    font-family:bio-sans, sans-serif;
    font-size:200%;
    font-weight:900;
    padding-bottom: 3%;
    color: var(--dark-gray, #474a5b, black);
}
#cover-gallery > div{
    width:25%;
    float:left;
    height:300px;
    box-sizing: border-box;
    padding:1%;
    
}
#cover-gallery img{
    width:100%;
    border:10px solid white;
}
#cover-gallery a{
    text-decoration: none;
    color:var(--dark-gray);
    font-size: 20px;
}
#cover-gallery a:hover{
    color:var(--hover-red, red);
}