@import url("https://use.typekit.net/ppc1adw.css")
:root{
    --header-bg:#fff;
    --dark-gray:#474A5B;
    --light-gray:#D1D1D1;
    --hover-red:#C11F25;
}
*{
    margin:0;
    padding:0;
}
body{
    font-family:Madawaska, serif;
    font-weight: 400;
    color:var(--dark-gray, black);
}

/* heading and nav bar */

header > h1{
    font-family:bio-sans, sans-serif;
    font-weight: 900;
    font-size:300%;
    float:left;
    padding: 0 0 0 30px;
    text-transform: uppercase;    
    color:var(--dark-gray, black);
}
nav li{
    list-style: none;
    float:right;
    font-size:100%;
    font-family:bio-sans, sans-serif;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    padding-left:15px;
    letter-spacing: 5px;
    color:var(--dark-gray, black);
}
nav a:hover{
    color:var(--hover-red, red);
}
nav{
    padding-right:15px;
}
header{
    background-color: var(--header-bg,white);
}
#header, #menu{
    line-height: 75px;
}
