/* @import url("https://use.typekit.net/ppc1adw.css") */
*{
    margin:0;
    padding:0;
}
body{
    font-family:Madawaska, serif;
    font-weight: 400;
}
header > h1{
    font-family:bio-sans, sans-serif;
    font-weight: 700;
    font-size:250%;
    float:left;
    padding: 10px 0 0 30px;
    text-transform: uppercase;    
}
nav li{
    list-style: none;
    float:right;
    font-size:100%;
    font-family:bio-sans, sans-serif;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    padding-left:15px;
    letter-spacing: 5px;
}
nav{
    padding-right:15px;
}

